{% extends "index.html" %}
{% load static %}
<!-- slider_area_start -->
{% block quote %}
    <h3>The <b>Next</b>  <br>
        Generation <br>
        Depends on <b>Us</b>.</h3>
    {% endblock %}
{% block content %}

    <!-- about_area_start -->
    <div class="about_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6">
                    <div class="single_about_info">
                        <h3>Learn about the <br>
                            future of our planet</h3>
                        <p>Katia is an AI enabled interactive chat-bot that generates general and customized prediction
                        about the future of earth environment taking in consideration various aspects and using advanced
                        machine learning models along with open source datasets. </p>
                        <a href="#" class="boxed_btn">Check Predictions</a>
                    </div>
                </div>
                <div class="col-xl-6 offset-xl-1 col-lg-6">
                    <div class="about_tutorials">
                        <div class="courses">
                            <div class="inner_courses">
                                <div class="text_info">
                                    <span>Interact</span>
                                </div>
                            </div>
                        </div>
                        <div class="courses-blue">
                            <div class="inner_courses">
                                <div class="text_info">
                                    <span>Learn</span>
                                </div>

                            </div>
                        </div>
                        <div class="courses-sky">
                            <div class="inner_courses">
                                <div class="text_info">
                                    <span>Act</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about_area_end -->




    <!-- testimonial_area_start -->
    <div class="testimonial_area overlay" style="background-image: url({% static 'img/green.jpg' %})">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="testmonial_text text-center">
                                <p>
                                    "How earth, our home, looks in the future<br> depends on the
                                    actions <br>
                                    of each human
                                    being."

                                </p>
                                <span>- Katia</span>
                            </div>
                        </div>
                    </div>
                </div>


    </div>
    <!-- testimonial_area_end -->

    <!-- our_courses_start -->
    <div class="our_courses">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
                        <h3>Environmental Aspects</h3>
                        <p>See the different environmental aspects from Katia's time.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
{#                <div class="col-xl-3 col-md-6 col-lg-6">#}
{#                    <div class="single_course text-center">#}
{#                        <div class="icon">#}
{#                            <i class="flaticon-art-and-design"></i>#}
{#                        </div>#}
{#                        <h3>Water</h3>#}
{#                        <p>#}
{#                            Your domain control panel is designed for ease-of-use <br> and <br>#}
{#                            allows for all aspects of#}
{#                        </p>#}
{#                    </div>#}
{#                </div>#}
                <div class="col-xl-4 col-md-6 col-lg-6">
                    <div class="single_course text-center">
{#                        <div class="icon blue">#}
{#                            <i class="flaticon-business-and-finance"></i>#}
{#                        </div>#}
                        <h3>Ice Areas</h3>
                        <p>
                            A drop in ice areas is directly linked to global warming <br> therefore <br>
                            it is a sign that should not be neglected in assessing earth situation
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-6">
                    <div class="single_course text-center">
{#                        <div class="icon">#}
{#                            <i class="flaticon-premium"></i>#}
{#                        </div>#}
                        <h3>Carbon Emissions</h3>
                        <p>
                            Carbon emissions are a serious danger for the environment they contribute in global warming <br> and <br>
                            thus climate change.
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-6">
                    <div class="single_course text-center">
{#                        <div class="icon gradient">#}
{#                            <i class="flaticon-crown"></i>#}
{#                        </div>#}
                        <h3>Temperature</h3>
                        <p>
                            Temperature gives a clear and direct picture about global warming <br> allowing<br>
                            for a better understanding of the seriousness of climate change
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- our_courses_end -->



    <!-- our_latest_blog_start -->
    <div class="our_latest_blog">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
                        <h3>Our Latest Blog</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="single_latest_blog">
                        <div class="thumb">
                            <img src="img/latest_blog/1.png" alt="">
                        </div>
                        <div class="content_blog">
                            <div class="date">
                                <p>12 Jun, 2019 in <a href="#">Design tips</a></p>
                            </div>
                            <div class="blog_meta">
                                <h3><a href="#">Commitment to dedicated Support</a></h3>
                            </div>
                            <p class="blog_text">
                                Firmament morning sixth subdue darkness creeping gathered divide.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_latest_blog">
                        <div class="thumb">
                            <img src="img/latest_blog/2.png" alt="">
                        </div>
                        <div class="content_blog">
                            <div class="date">
                                <p>12 Jun, 2019 in <a href="#">Design tips</a></p>
                            </div>
                            <div class="blog_meta">
                                <h3><a href="#">Commitment to dedicated Support</a></h3>
                            </div>
                            <p class="blog_text">
                                Firmament morning sixth subdue darkness creeping gathered divide.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_latest_blog">
                        <div class="thumb">
                            <img src="img/latest_blog/3.png" alt="">
                        </div>
                        <div class="content_blog">
                            <div class="date">
                                <p>12 Jun, 2019 in <a href="#">Design tips</a></p>
                            </div>
                            <div class="blog_meta">
                                <h3><a href="#">Commitment to dedicated Support</a></h3>
                            </div>
                            <p class="blog_text">
                                Firmament morning sixth subdue darkness creeping gathered divide.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    <!-- our_latest_blog_end -->

